#body
{
  background-color:rgb(10, 9, 9);
  margin: 0px 0px;
  height:100%;
  width:100%;
}
#hd
{
    font-size: 5vw;
    color: rgb(253, 232, 201);
    width:80%;
    margin:40px auto;
    margin-top: 0px;
    text-align: center;
}
.box1
{
    display:flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 55px auto;
}
.box2
{
    display:flex;
    justify-content: space-evenly;
    width: 82%;
    margin: 75px auto;
}
.box3
{
    display:flex;
    justify-content: space-evenly;
    width: 78%;
    margin: 95px auto;
    margin-bottom: 0px;
}
.btn
{
    width:8.2%;
    font-size: 6vw;
    border:.25vw solid rgb(16, 79, 104);
    background-color: rgb(145, 250, 41);
    cursor: pointer;
    color:rgb(12, 11, 11);
}
.pressed
{
  color: rgb(252, 240, 240);
  box-shadow: 4px 4px 10px rgb(253, 251, 251);
};


